@import 'src/style/vars.scss';

.form {
  margin: 0 auto;
  padding: 24px 25px;
  background-color: $white;
  height: calc(100vh - 20%);
  width: 900px;

  .header {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    .info {
      .linkWrapper {
        display: flex;
        gap: 16px;

        .linkBlock {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }

  .wrapper{
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    gap: 24px;
  }
}
